name: cicd 

on: [push] 
jobs: 
   common: 
      uses: subbu-action/reusable-workflows/.github/workflows/common.yaml@main
      with: 
         project: roboshop 
         component: catalogue 
         app_type: nodejs    